<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="CleanFileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <!--Logs all program output-->
      <file value="..\..\..\Logs\MASUtils.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="8MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%level] [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <appender name="CleanFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--Logs easily-readable output for copy-pasting reference. Default level is "INFO"-->
      <threshold value="INFO" />
      <file value="..\..\..\Logs\MASUtils_Clean.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="8MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>